<html>
    <head>
        <title>Django Girls blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Sweta at Django Girls Blog</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>Very happy to create my first website with the help of Django girls workshop..Woooo. I would be adding more about the experience sooner</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">Will be coming soon</a></h2>
            <p>.</p>
        </div>
    </body>
</html>
